<div class="container" *ngIf="auth.user$ | async as user">
  <br>
  <div class="card">
    <h1>Add Post</h1>
    <form (submit)="addPost()" class="card-body">
      <div>
        <h5 class="card-title">Title</h5>
        <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="title" name="title"
          placeholder="Add Title here">
        <div class="alert alert-warning" role="alert" *ngIf="blankTitle==true">Title is blank.</div>
      </div>
      <div>
        <h5 class="card-title">Description</h5>
        <textarea style="width: 100%;" class="card-text" type="text" [(ngModel)]="description" name="description"
          placeholder="Add Description here"></textarea>
        <div class="alert alert-warning" role="alert" *ngIf="blankDescription==true">Description is blank.</div>
      </div>

      <!-- Tag component -->
      <app-tag-options [tags]="tags"></app-tag-options>

      <br>
      <input type="hidden" [(ngModel)]="userId" name="userId" ng-init="userId={{user.sub.substring(6,user.sub.length)}}"
        ng-value="userId">
      <div class="alert alert-success" role="alert" *ngIf="added==true">Added successfully.</div>
      <input type="submit" class="btn btn-primary btn-sm" value="Add">
    </form>
  </div>
</div>
