<div class="bg-primary" height="200vh">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"> 
        <div class="btn-group">
            <button type="button" routerLink="/" class="btn btn-outline-light"><a class="font-weight-bold">HobbyBuilder</a></button>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-light" ngbDropdownToggle>Post</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button routerLink="/add-post" ngbDropdownItem>Add Post</button>
                    <button routerLink="/posts" ngbDropdownItem>View Posts</button>
                </div>
            </div>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-light" ngbDropdownToggle>Event</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button routerLink="/add-event" ngbDropdownItem>Add Event</button>
                    <button routerLink="/posts" ngbDropdownItem>View Events</button>
                </div>
            </div>
            <button type="button" routerLink="/tag" class="btn btn-outline-light">Tags</button>

            <a *ngIf="auth.user$ | async as user" >Logged in as {{user.nickname}}</a>
            <app-login-button
            *ngIf="(auth.isAuthenticated$ | async) == false" class="float-right"
            ></app-login-button>
        

            <input type="button" *ngIf="(auth.isAuthenticated$ | async)" routerLink="/profile/{{userId}}" value="Profile" class="btn btn-outline-light"/>

            <app-logout-button
            *ngIf="(auth.isAuthenticated$ | async)"
            ></app-logout-button>
        </div>
    </div>
</div>

