<div *ngIf="(auth.user$ | async) as user">
  <div *ngIf="profile == null">
    <a>Profile does not exist</a>
  </div>
  <div *ngIf="profile != null">



    <ng-template #userContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-account">Delete Account</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a>Are you sure you want to delete this account?</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">No</button>
      </div>
    </ng-template>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <a *ngIf="userId === id"> Welcome, </a>

                {{profile.username}}
            </h1>
            <hr>

            Email: {{profile.email}}

            <a *ngIf="userId === id">
                <button *ngIf="userId === id" type="button" (click)="deleteUserOption(userContent,id)" value="Delete"
                class="btn btn-danger btn-sm float-right">
                <img src="/assets/img/trash.svg" alt="Delete" width="100%" height="100%">
                </button>

                <button type="button" (click)="editOption(id)" value="Edit" class="btn btn-primary btn-sm float-right">
                    <img src="/assets/img/pencil-square.svg" alt="Edit" width="100%" height="100%">
                </button>
            </a>

            

            <p>
                <a *ngIf="userId !== id">This user has</a>
                <a *ngIf="userId === id">You have</a>
                {{hobbies.length}} hobbies listed
            </p>


            <form *ngIf="userId === id" (submit)="addHobby()" class="card-body">
                <div>
                <h5 class="card-title">Hobby</h5>

                <select name="tags" id="tags" [(ngModel)]="tagId" name="tagId">

                    <option selected="true" value="" disabled="disabled">Select Hobby</option>
                    <option *ngFor="let tag of tags" value="{{tag._id}}">{{tag.name}}</option>

                </select>
                <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
            <div class="alert alert-warning" role="alert" *ngIf="hobbyExists">Hobby already exists in your profile</div>

            <div *ngFor="let hbby of hobbyNames, index as i">

                <span class="badge badge-secondary">
                    <a *ngIf="hbby != null">
                        {{hbby}}
                    </a>
                    <a *ngIf="hbby == null">
                        Invalid tag. Please remove this tag.
                    </a> <span *ngIf="userId===id" (click)="deleteHobby(hobbies[i])" class="badge badge-secondary">X</span>
                </span>
            </div>
        </div>
    </div>

  </div>
</div>
