<div class="container" *ngIf="auth.user$ | async as user">

    <br>
    <div *ngIf="visitorObject != null && userObject != null && visitorObject._id === userObject._id">
      <div class="card">
        <h1>Edit Profile</h1>
        <form (submit)="editProfile()" class="card-body">
          <div>
            <h5 class="card-title">Biography</h5>
            <textarea style="width: 100%;" class="card-text" type="text" [(ngModel)]="biography" name="biography"
              placeholder="Add Biography here"></textarea>
          </div>
          <div>
            <h5 class="card-title">City</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="city" name="city"
              placeholder="Add City here">
          </div>
          <div>
            <h5 class="card-title">Province/State</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="province" name="province"
              placeholder="Add Province here">
          </div>
          <div>
            <h5 class="card-title">Country</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="country" name="country"
              placeholder="Add Country here">
          </div>
          
          <!-- Tag component -->
          <!-- checks if profile data is rendered before loading tag component -->
          <div *ngIf="biography != null">
            <app-tag-options [tags]="tags"></app-tag-options>
          </div>
          
          
          <input type="hidden" [(ngModel)]="userId" name="userId"
            ng-init="userId={{user.sub.substring(6,user.sub.length)}}" ng-value="userId">
          <div class="alert alert-success" role="alert" *ngIf="edited==true">Changed successfully.</div>
          <div>
            <input type="button" routerLink="/profile/{{id}}" class="btn btn-primary btn-sm" value="Back">
            <input type="submit" class="btn btn-primary btn-sm" value="Update">
          </div>
  
        </form>
      </div>
    </div>
    <div *ngIf="visitorObject != null && userObject != null && visitorObject._id !== userObject._id">
      <div class="card">
        <div class="card-body">User is not authorized to modify this profile.</div>
        <input type="button" routerLink="/profile/{{id}}" class="btn btn-primary btn-sm" value="Back">
      </div>
    </div>

    <div *ngIf="visitorObject == null || userObject == null">
      <div class="card">
        <div class="card-body">Profile does not exist</div>
      </div>
    </div>
  </div>
  