<div class="container" *ngIf="auth.user$ | async as user">

    <br>
    <div *ngIf="id===userId">
      <div class="card">
        <h1>Edit Profile</h1>
        <form (submit)="editProfile()" class="card-body">
          <div>
            <h5 class="card-title">Biography</h5>
            <textarea style="width: 100%;" class="card-text" type="text" [(ngModel)]="biography" name="biography"
              placeholder="Add Biography here"></textarea>
          </div>
          <div>
            <h5 class="card-title">City</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="city" name="city"
              placeholder="Add City here">
          </div>
          <div>
            <h5 class="card-title">Province/State</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="province" name="province"
              placeholder="Add Province here">
          </div>
          <div>
            <h5 class="card-title">Country</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="country" name="country"
              placeholder="Add Country here">
          </div>
          
  
          <div>
            <h5 class="card-title">Tags</h5>
  
            <select name="tags" id="tags" [(ngModel)]="tagId" name="tagId">
  
              <option selected="true" value="" disabled="disabled">Select Hobby</option>
              <option *ngFor="let tag of tagOptions" value="{{tag._id}}">{{tag.name}}</option>
  
            </select>
            <button (click)="addHobby()" type="button" class="btn btn-primary btn-sm" value="Add">
              <img src="/assets/img/plus-circle.svg" alt="Add" width="100%" height="100%">
            </button>
  
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="hobbyExists">Hobby already exists in your post</div>
          <a *ngFor="let hbby of hobbyNames, index as i">
            <span class="badge badge-secondary">
              <a *ngIf="hbby != null">
                {{hbby}}
              </a>
              <a *ngIf="hbby == null">
                Invalid tag. Please remove this tag.
              </a> <span (click)="deleteHobby(tags[i])" class="badge badge-secondary">X</span>
            </span>
          </a>
          
          <input type="hidden" [(ngModel)]="userId" name="userId"
            ng-init="userId={{user.sub.substring(6,user.sub.length)}}" ng-value="userId">
          <div class="alert alert-success" role="alert" *ngIf="edited==true">Changed successfully.</div>
          <div>
            <input type="button" routerLink="/profile/{{id}}" class="btn btn-primary btn-sm" value="Back">
            <input type="submit" class="btn btn-primary btn-sm" value="Update">
          </div>
  
        </form>
      </div>
    </div>
    <div *ngIf="id!==userId">
      <div class="card">
        <div class="card-body">User is not authorized to modify this profile.</div>
        <input type="button" routerLink="/profile/{{id}}" class="btn btn-primary btn-sm" value="Back">
      </div>
    </div>
  </div>
  