<div class="container" *ngIf="auth.user$ | async as user">

    <br>
  
    <div class="card">
        <h1>Search Event</h1>
      <form (submit)="search()" class="card-body">
        <div>
          <div>
            <h5 class="card-title">Title</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="title" name="title"
              placeholder="Search">
          </div>
  
          <div>
            <br>
  
            <h5 class="card-title">Author</h5>
            <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="author" name="author"
              placeholder="Author">
  
          </div>
  
          <app-tag-options [tags]="tags"></app-tag-options>
         
          <br>
  
          <input type="submit" class="btn btn-primary btn-sm" value="Search">
  
        </div>
      </form>
    </div>
  
    <div *ngIf="eventsCopy.length >0">
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind" [event]="eventsCopy[ind]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+1" [event]="eventsCopy[ind+1]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+2" [event]="eventsCopy[ind+2]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+3" [event]="eventsCopy[ind+3]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+4" [event]="eventsCopy[ind+4]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+5" [event]="eventsCopy[ind+5]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+6" [event]="eventsCopy[ind+6]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+7" [event]="eventsCopy[ind+7]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+8" [event]="eventsCopy[ind+8]"></app-event-display>
      </div>
      <div class="card">
        <app-event-display *ngIf="eventsCopy.length > ind+9" [event]="eventsCopy[ind+9]"></app-event-display>
      </div>

    <button (click)="prev()" class="btn btn-primary">Previous</button>
    <button (click)="next()" class="btn btn-primary">Next</button>
  
    </div>

    <div *ngIf="eventsCopy.length==0">
      No events found.
    </div>
  