<div >
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Most Recent Posts</h5>
        <div *ngIf="mostRecentPosts.length == 0">Nothing to show.</div>
        <div *ngIf="mostRecentPosts.length != 0">
          <div *ngFor="let post of mostRecentPosts">
            <div *ngIf="post != null">
              {{post.title}}
            </div>
          </div>
          <div *ngIf="(auth.user$ | async) as user">
            <button class="btn btn-primary">See More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Most Recent Events</h5>
        <div *ngIf="mostRecentEvents.length == 0">Nothing to show.</div>
        <div *ngIf="mostRecentEvents.length != 0">
          <div *ngFor="let event of mostRecentEvents">
            <div *ngIf="event != null">
              {{event.title}}
            </div>
          </div>
          <div *ngIf="(auth.user$ | async) as user">
            <button class="btn btn-primary">See More</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(auth.user$ | async) as user">
    <div >
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Recommended Posts</h5>
            <div *ngIf="recommendedPosts.length == 0">Nothing to show.</div>
            <div *ngIf="recommendedPosts.length != 0">
              <div *ngFor="let post of recommendedPosts">
                <div *ngIf="post != null">
                  {{post.title}}
                </div>
              </div>
              <button class="btn btn-primary">See More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Recommended Events</h5>
            <div *ngIf="recommendedEvents.length == 0">Nothing to show.</div>
            <div *ngIf="recommendedEvents.length != 0">
              <div *ngFor="let event of recommendedEvents">
                <div *ngIf="event != null">
                  {{event.title}}
                </div>
              </div>
              <button class="btn btn-primary">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div >
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your Posts</h5>
            <div *ngIf="yourPosts.length == 0">Nothing to show.</div>
            <div *ngIf="yourPosts.length != 0">
              <div *ngFor="let post of yourPosts, index as i">
                <div *ngIf="post != null">
                  {{post.title}}
                </div>
              </div>
              <button class="btn btn-primary">See More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your Events</h5>
            <div *ngIf="mostRecentEvents.length == 0">Nothing to show.</div>
            <div *ngIf="mostRecentEvents.length != 0">
              <div *ngFor="let event of yourEvents, index as i">
                <div *ngIf="event != null">
                  {{event.title}}
                </div>
              </div>
              <button class="btn btn-primary">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div >
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Events Hosting</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Events Attending</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="!(auth.user$ | async)">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">To see more options, please log in.</h5>
        <div class="btn-group bg-primary">
          <app-login-button></app-login-button>
        </div>
      </div>
    </div>
  </div>
