<div class="container" *ngIf="auth.user$ | async as user">
  <br>
  <div *ngIf="userObject._id===event.user">
    <div class="card">
      <h1>Edit Event</h1>
      <form (submit)="editEvent()" class="card-body">
        <div>
          <h5 class="card-title">Title</h5>
          <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="title" name="title"
            placeholder="Add Title here">
          <div class="alert alert-warning" role="alert" *ngIf="blankTitle==true">Title is blank.</div>
        </div>
        <div>
          <h5 class="card-title">Description</h5>
          <textarea style="width: 100%;" class="card-text" type="text" [(ngModel)]="description" name="description"
            placeholder="Add Description here"></textarea>
          <div class="alert alert-warning" role="alert" *ngIf="blankDescription==true">Description is blank.</div>
        </div>
        <div>
          <h5 class="card-title">Location</h5>
          <textarea style="width: 100%;" class="card-text" type="text" [(ngModel)]="location" name="location"
            placeholder="Add Location here"></textarea>
          <div class="alert alert-warning" role="alert" *ngIf="blankLocation==true">Location is blank.</div>
        </div>

        <div>
          <h5 class="card-title">Event Date</h5>
          <input type="datetime-local" [(ngModel)]="date_event" name="date_event" />
          <div class="alert alert-warning" role="alert" *ngIf="blankDate==true">Date is blank.</div>
        </div>

        {{date_event}}

          <!-- Tag component -->
          <!-- checks if event data is rendered before loading tag component -->
          <div *ngIf="title != null">
            <app-tag-options [tags]="tags"></app-tag-options>
          </div>



        <input type="hidden" [(ngModel)]="userId" name="userId"
          ng-init="userId={{user.sub.substring(6,user.sub.length)}}" ng-value="userId">
        <div class="alert alert-success" role="alert" *ngIf="edited==true">Changed successfully.</div>
        <div>
          <input type="button" routerLink="/event/{{event._id}}" class="btn btn-primary btn-sm" value="Back">
          <input type="submit" class="btn btn-primary btn-sm" value="Update">
        </div>

      </form>
    </div>
  </div>
  <div *ngIf="userObject._id!==event.user">
    <div class="card">
      <div class="card-body">User is not authorized to modify this event.</div>
      <input type="button" routerLink="/event/{{event._id}}" class="btn btn-primary btn-sm" value="Back">
    </div>
  </div>
</div>
