<div class="container" *ngIf="auth.user$ | async as user">
  <br>
  <div class="card">
    <h1>Add Event</h1>
    <form [formGroup]="eventForm" (ngSubmit) = "onSubmit()" class="card-body">
      <div>
        <h5 class="card-title">Title<a style="color:red">*</a></h5>
        <input style="width: 100%;" class="card-text" type="text" formControlName="title" name="title"
          placeholder="Add Title here">
      </div>
      <div>
        <h5 class="card-title">Description<a style="color:red">*</a></h5>
        <textarea style="width: 100%;" class="card-text" type="text" formControlName="description" name="description"
          placeholder="Add Description here"></textarea>
      </div>
      <div>
        <h5 class="card-title">Location<a style="color:red">*</a></h5>
        <textarea style="width: 100%;" class="card-text" type="text"  formControlName="location" name="location"
          placeholder="Add Location here"></textarea>
      </div>

      <div>
        <h5 class="card-title">Event Date<a style="color:red">*</a></h5>
        <input type="datetime-local" formControlName="date_event" name="date_event" />
      </div>

          <!-- Tag component -->
          <app-tag-options [tags]="tags"></app-tag-options>
      <br>

      <div class="alert alert-success" role="alert" *ngIf="added==true">Added successfully.</div>
      <input type="submit" [disabled]="!eventForm.valid" class="btn btn-primary btn-sm" value="Add">

    </form>
  </div>
</div>
