<div class="container" *ngIf="auth.user$ | async as user">
    <br>
  
    <div *ngIf="notifications== null || notifications.length==0">
      You currently have no notifications.
    </div>
    <div *ngIf="notifications!= null && notifications.length>0">
      <div *ngFor="let notification of notifications" class="card">
        <div class="btn" routerLink="/{{notification.linkType}}/{{notification.idToLink}}">
          
            <div class="card-body">

              <div>
               {{ notification.text }} 
              </div>
              <div>
                {{ notification.date_created | date:"MM/dd/yyyy 'at' h:mma" }}
              </div>

            </div>
          
        </div>
      </div>
    </div>
 
  
  
</div>
  