<div class="container" *ngIf="auth.user$ | async as user">
  <br>

  <div *ngIf="post==null" class="card">
    <div class="card-body">
      Post does not exist
    </div>
    <div class="container">
      <input type="button" routerLink="/posts" class="btn btn-primary btn-sm" value="Back">
    </div>
    <br>
  </div>

  <div *ngIf="post!=null">

    <ng-template #postContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-post">Delete Post</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a>Are you sure you want to delete this post?</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">No</button>
      </div>
    </ng-template>



    <div class="card">
      <div class="card-body">
        <div *ngIf="!editPost">

          <div>
            <button *ngIf="!post.likes['1'].includes(userId)" type="button" (click)="likePost(post._id)"
              class="btn btn-link btn-sm float-left">
              <img src="/assets/img/thumbs_up.svg" alt="Like" width="100%" height="100%">
            </button>
            <button *ngIf="post.likes['1'].includes(userId)" type="button" (click)="likePost(post._id)"
              class="btn btn-link float-left">
              <img src="/assets/img/thumbs_up_fill.svg" alt="Like" width="100%" height="100%">
            </button>


            <a style="color:black" class="float-left"><b>{{post.likes["1"].length - post.likes["-1"].length}}</b></a>

            <button *ngIf="!post.likes['-1'].includes(userId)" type="button" (click)="dislikePost(post._id)"
              class="btn btn-link btn-sm float-left">
              <img src="/assets/img/thumbs_down.svg" alt="Dislike" width="100%" height="100%">
            </button>
            <button *ngIf="post.likes['-1'].includes(userId)" type="button" (click)="dislikePost(post._id)"
              class="btn btn-link btn-sm float-left">
              <img src="/assets/img/thumbs_down_fill.svg" alt="Dislike" width="100%" height="100%">
            </button>
          </div>
          <div>
            <h1>
              {{ post.title }}


              <button type="button" routerLink="/report/0/{{id}}/." value="Report"
                class="btn btn-danger btn-sm float-right">
                <img src="/assets/img/flag.svg" alt="Report" width="100%" height="100%">
              </button>
              <a *ngIf="visitorObject!= null">
                <a *ngIf="user.sub.substring(6,user.sub.length) === post.user || visitorObject.isAdmin == true">
                  <button type="button" (click)="openPost(postContent,post._id)" value="Delete"
                    class="btn btn-danger btn-sm float-right">
                    <img src="/assets/img/trash.svg" alt="Delete" width="100%" height="100%">
                  </button>
                </a>
              </a>
              <a *ngIf="user.sub.substring(6,user.sub.length) === post.user">
                <button type="button" routerLink="/edit-post/{{post._id}}" value="Edit"
                  class="btn btn-primary btn-sm float-right">
                  <img src="/assets/img/pencil-square.svg" alt="Edit" width="100%" height="100%">
                </button>
              </a>
            </h1>

          </div>
          <div>
            Created {{ post.date_created | date:"MM/dd/yyyy 'at' h:mma" }} by <a
              routerLink="/profile/{{post.user}}">{{post.author}}</a>
            <a *ngIf="post.date_modified != null" class="font-weight-bold">
              (Edited)
            </a>
          </div>

          <hr>


          <div>
            <p>{{ post.description }}</p>
          </div>

          <hr>

          <app-tags-list [tags]="tags"></app-tags-list>



          <br>


          <div>
            <h1>Comments</h1>
            <input *ngIf="!addCommentOption" type="button" routerLink="/add-comment/0/{{post._id}}" value="Add Comment"
              class="btn btn-primary btn-sm">
            <div *ngIf="commentList.length==0">
              <a>No comments to show </a>
            </div>

            <div *ngIf="commentList.length>0">
              <div *ngFor="let comment of commentList, index as i">
                <hr>

                <app-comment [comment]="comment" [comments]="comments" [(commentList)]="commentList" type="0"
                  [typeId]="post._id" [owner]="post.user" (refresh)="refresh($event)"></app-comment>

              </div>
            </div>
          </div>


        </div>

      </div>



    </div>


  </div>
