<div class = "container" *ngIf="auth.user$ | async as user">
    
    <br>
    
    <div class="card">
        <form (submit)="search()" class="card-body">
            <div>
                <h5 class="card-title" >Search</h5>
                <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="title" name="title" placeholder="Search">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" name="mostRecent" id="mostRecent">
                    <label class="form-check-label" for="mostRecent">
                    Most recent posts
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" name="recommended" id="recommended">
                    <label class="form-check-label" for="recommended">
                    Recommended posts
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" name="yours" id="yours">
                    <label class="form-check-label" for="yours">
                    Your posts
                    </label>
                </div>

                <input type="submit" class="btn btn-primary btn-sm" value="Search">

            </div>
        </form>
    </div>

    <div *ngIf="postsCopy.length ==0" class="card">
        <a>No posts to show.</a>
    </div>

    <div *ngIf="postsCopy.length>0">
        <div *ngFor= "let post of postsCopy" class="card">
                <div class="btn">
                    <div *ngIf= "editPostId != post._id" class="card" routerLink="/post/{{post._id}}">
                        <div class="card-body">
                            <div>
                                <h1>{{ post.title }}</h1> 
                            </div>
                            <div>
                                by {{post.author}} {{ post.date_created | date:"MM/dd/yyyy 'at' h:mma" }}
                            </div>
                            <div *ngIf= "post.date_modified != null" class="font-weight-bold">
                                (Edited)
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>