<div class = "container" *ngIf="auth.user$ | async as user" >
    <br>
    <div *ngIf="userObject._id===post.user">
        <div class="card">
            <h1>Edit Post</h1>
            <form (submit)="editPost()" class="card-body">
                <div>
                    <h5 class="card-title" >Title</h5>
                    <input style="width: 100%;" class="card-text" type="text" [(ngModel)]="title" name="title" placeholder="Add Title here">
                    <div class="alert alert-warning" role="alert" *ngIf="blankTitle==true">Title is blank.</div>
                </div>
                <div>
                    <h5 class="card-title">Description</h5>
                    <textarea style="width: 100%;" class="card-text" type="text" [(ngModel)]="description" name="description" placeholder="Add Description here"></textarea>
                    <div class="alert alert-warning" role="alert" *ngIf="blankDescription==true">Description is blank.</div>
                </div>
                <input type="hidden" [(ngModel)]="userId" name="userId" ng-init="userId={{user.sub.substring(6,user.sub.length)}}" ng-value="userId">
                <div class="alert alert-success" role="alert" *ngIf="edited==true">Changed successfully.</div>
                <input type="button" routerLink="/post/{{post._id}}" class="btn btn-primary btn-sm" value="Back">
                <input type="submit" class="btn btn-primary btn-sm" value="Update">
            </form>
        </div>
    </div>
    <div *ngIf="userObject._id!==post.user">
        <div class="card">
          <div class="card-body">User is not authorized to modify this post.</div>
            <input type="button" routerLink="/post/{{post._id}}" class="btn btn-primary btn-sm" value="Back">
        </div>
      </div>
</div>